<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Admin Login</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'admin_login/css/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Login</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
		      	<h3 class="text-center mb-4">Sign In</h3>
						<form action="" method="post" class="login-form" name="loginform">
                {% csrf_token %}
		      		<div class="form-group">
		      			<input type="text" class="form-control rounded-left" placeholder="Username" id="username" required>
		      		</div>
	            <div class="form-group d-flex">
	              <input type="password" class="form-control rounded-left" id="password" placeholder="Password" required>
	            </div>
	            <div class="form-group">
	            	<button type="submit" onclick="login_submit()" class="form-control btn btn-primary rounded submit px-3">Login</button>
	            </div>
<!--	            <div class="form-group d-md-flex">-->
<!--	            	<div class="w-50">-->
<!--	            		<label class="checkbox-wrap checkbox-primary">Remember Me-->
<!--									  <input type="checkbox" checked>-->
<!--									  <span class="checkmark"></span>-->
<!--									</label>-->
<!--								</div>-->
<!--								<div class="w-50 text-md-right">-->
<!--									<a href="#">Forgot Password</a>-->
<!--								</div>-->
<!--	            </div>-->
	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'admin_login/js/jquery.min.js' %}"></script>
  <script src="{% static 'admin_login/js/popper.js' %}"></script>
  <script src="{% static 'admin_login/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'admin_login/js/main.js' %}"></script>


	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function login_submit(){
            event.preventDefault()
			$.ajax({
				url: "login-check",
				data: {
					username : $("#username").val(),
					password : $("#password").val(),
				},
				success: function (data) {
					status = data['status']
					message = data['message']
					if(status == "error"){
						var toastMixin = Swal.mixin({
							toast: true,
							icon: 'error',
							title: 'General Title',
							animation: false,
							position: 'top-right',
							showConfirmButton: false,
							timer: 1000,
							timerProgressBar: true,
							didOpen: (toast) => {
								toast.addEventListener('mouseenter', Swal.stopTimer)
								toast.addEventListener('mouseleave', Swal.resumeTimer)
							}
						});
						toastMixin.fire({
						animation: true,
						title: message
						});
					}
					else{
						document.forms["loginform"].submit();
					}
				}
			});
        }
    </script>

	</body>
</html>

