
    <div class="modal fade" id="change_status_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Change Status</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form action="change-status" method="post" class="login-form" id="cart_form">
          {% csrf_token %}
              <input type="hidden" value="{{data.id}}" name="order_id">
              <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Status</label>
                      <div class="col-sm-9">
                        <select class="form-control" name="status_value">
                          <option value="Pending" {% if data.order_status == "Pending" %} selected {% endif %}>Pending</option>
                          <option value="Approved" {% if data.order_status == "Approved" %} selected {% endif %}>Approved</option>
                          <option value="Shipped" {% if data.order_status == "Shipped" %} selected {% endif %}>Shipped</option>
                          <option value="Delivered" {% if data.order_status == "Delivered" %} selected {% endif %}>Delivered</option>
                        </select>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Change Status</button>
              </div>
          </form>
        </div>
      </div>
    </div>